<%# app/views/bookmarks/_document_list.html.erb -%>
<%-
  # List bookmarked documents by rendering each according to its own presenter.

  docs = document_list ||= @response&.documents
  return unless docs.present?

  # The caller may provide additional CSS classes via the :css_class option.
  css_class =
    css_classes(css_class ||= nil) { |classes|
      classes << "documents-#{document_index_view_type}"
    }

-%>
<div id="documents" class="<%= css_class -%>">
  <%- controller = {} -%>
  <%- docs.each_with_index do |doc, counter| -%>
    <%- key = lens_key_for(doc) -%>
    <%- doc = doc.as(key) -%>
    <%- opt = { document: doc, document_counter: counter, dataset: '' } -%>
    <%- controller[key] ||= lens_entry(key).instance(@response, request) -%>
    <%= controller[key].instance_exec(opt) do |locals| -%>
      <%- view_context.render('document', locals) -%>
    <%- end -%>
  <%- end -%>
</div>
