<%# app/views/bookmarks/_refworks.html.erb -%>
<%-
  refworks = export_format[:refworks]
  docs = document_list ||= @document_list
  return unless docs&.any? { |doc| doc.exports_as?(refworks) }
  label ||= t('blacklight.bookmarks.tools.refworks')
  path  ||= search_state.params_for_search
  path    = bookmarks_export_url(refworks, path)
  opt   ||= { id: 'refworksLink', class: 'btn btn-default', target: '_blank' }
-%>
<li class="refworks">
  <%= link_to(label, refworks_export_url(url: path), opt) %>
</li>
