# .dockerignore
#
# Files and directories that can be omitted from a Docker image.

# =============================================================================
# :section: Code documentation
# =============================================================================

/doc/
*.md

# =============================================================================
# :section: Unused code
# =============================================================================

/solr/
/.solr_wrapper.yml

# =============================================================================
# :section: Testing support
# =============================================================================

#/feature/
#/test/
