<%# app/views/advanced/_advanced_search_fields.html.erb -%>
<%- search_fields_for_advanced_search.each do |key, field_def| -%>
  <div class="form-group advanced-search-field">
    <%= label_tag key, "#{field_def.label}", class: 'col-sm-3 control-label' %>
      <%- displayed_text = label_tag_default_for(key) -%>
      <div class="col-sm-12">
        <%= text_field_tag key, displayed_text, class: 'form-control' %>
      </div>
  </div>
<%- end -%>
