<%# app/views/blacklight_advanced_search/_facet_limit.html.erb -%>
<%-
  field    = display_facet.name
  partial  = advanced_search_facet_partial_name(display_facet)
  advanced = (params[:controller].to_s == 'advanced')
  if advanced
    partial = 'advanced/facet_limit' if partial == 'catalog/facet_limit'
    remove_path =
      proc { |value|
        p = remove_advanced_facet_param(field, value, params)
        blacklight_advanced_search_engine.advanced_search_path(p)
      }
  else
    partial = 'catalog/facet_limit' if partial == 'advanced/facet_limit'
    remove_path =
      proc { |value|
        p = remove_advanced_facet_param(field, value, params)
        search_catalog_path(p)
      }
  end
  todo = true # TODO: ???
-%>
<div class="advanced_facet_limit">
  <%- unless todo || advanced -%>
    <div class="inclusive_or well">
      <h4>Any of:</h4>
      <ul class="list-unstyled facet-values">
        <%- advanced_query.filters[field].each do |value| -%>
          <li>
            <span class="selected"><%= h(value) %></span>
            <%= link_to(remove_path.call(value), class: 'remove') do %>
              <span class="glyphicon glyphicon-remove">✖</span>
              <span class="sr-only">[remove]</span>
            <%- end -%>
          </li>
        <%- end -%>
      </ul>
    </div>
  <%- end -%>
  <%= render_facet_limit(display_facet, layout: nil, partial: partial) %>
</div>
