<%# app/views/blacklight_advanced_search/_facet_limit.html.erb -%>
<%-
  facet = display_facet ||= nil
  return unless facet.present?

  partial  = advanced_search_facet_partial_name(facet)
  if params[:controller].to_s.include?('advanced')
    partial = 'advanced/facet_limit' if partial == 'catalog/facet_limit'
  else
    partial = 'catalog/facet_limit' if partial == 'advanced/facet_limit'
  end

-%>
<div class="advanced_facet_limit">
  <div class="inclusive_or well">
    <h5>Any of:</h5>
    <ul class="list-unstyled facet-values">
      <%- advanced_query.filters[facet.name].each do |value| -%>
        <li>
          <%= render_selected_facet_value(facet, value) %>
        </li>
      <%- end -%>
    </ul>
  </div>
</div>
<%= render_facet_limit(facet, partial: partial, layout: nil) %>
