// app/assets/stylesheets/shared/_common.scss

//=============================================================================
// Common definitions.
//=============================================================================

%dd-item-format {
    .label {
        display:        inline-block;
        vertical-align: text-top;
    }
}

//=============================================================================
// Common settings.
//=============================================================================

// Prevent horizontal scrollbar from showing up.
// NOTE: It might be better to find out what element is causing the overflow...
body {
    overflow-x: hidden;
}

// Make focus outline more easily seen.
:focus {
    outline:        2px solid rgba(77, 144, 254, 0.5);
    outline-offset: 2px;
}

// Convenience definition for Bootstrap "hidden on all" class.
.hidden {
    @extend .d-none;
}

.disabled {
    cursor: default;
    &:active { pointer-events: none; }
}

.forbidden {
    cursor: not-allowed;
    &:active { pointer-events: none; }
}

// Prevent pages with little content (like empty bookmarks or saved searches)
// from allowing the footer to hike up to the middle of the screen on a desktop
// display.
#main-container {
    min-height: 65vh;
}

.page-header {
    margin:  1rem 0;
    padding: 0.5rem 0;
}

.page-heading {
    margin: auto 0;
}

.facets-heading {
    margin-top:    22px;
    margin-bottom: 7px;
}

.top-panel-heading {
    padding-top: 0;
}

// Search constraints

.filter-name {

    font-variant: all-small-caps;

    // Put some separation between the name and the value.
    &:after { content: " "; }
}

.filter-separator {
    font-variant: all-petite-caps;
}

.filter-value {

    color: #3c763d;

    .constraint-connector {
        margin-left:  0.25rem;
        margin-right: 0.25rem;
    }
}

.applied-filter {

    margin: 0 0.5rem 0.5rem 0;

    // Fix Blacklight definitions.
    .constraint-value {
        &:hover, &:active {
            background-color: transparent;
        }
    }
    .filter-name:after {
        color: inherit;
    }
}

// Hide COinS element.
.Z3988 {
    display: none;
}

// Shrink Bootstrap printer glyph to match up with FontAwesome RSS icon.
.glyphicon-print:before {
    font-size: 85%;
}

// Change cursor over auto-suggest menu entries.
.tt-selectable {
    cursor: pointer;
    &:hover { background-color: whitesmoke; }
}
