// app/assets/stylesheets/shared/_debug.scss

$debug-color-fg: white;
$debug-color-bg: hotpink;

//=============================================================================
// Debugging
//=============================================================================

// Footer debug panel.
pre.two-column {

    width:        98vw;
    margin:       0.25rem;
    padding:      0.5rem;
    white-space:  pre-wrap;
    border:       2px solid $debug-color-bg;

    column-count:      2;
    column-gap:        20px;
    column-rule-color: #ccc;
    column-rule-style: solid;
    column-rule-width: 1px;

    @media print {
        display: none;
    }
}
