// app/assets/stylesheets/shared/_footer.scss

@import 'bootstrap/variables';

//=============================================================================
// Page layout - footer
//=============================================================================

// Like Virgo 3.x footer text and base background colors.
// TODO: why do the text colors need to be restored here?
#footer-navbar {

    margin-bottom:    0;
    background-color: #012251; // Like Virgo 3.x footer base background color.

    .footer-content {

        margin-top:    1rem;
        margin-bottom: 1rem;
        padding:       0;
        color:         $navbar-dark-color;

        // Restore link colors but add decoration to indicate links.
        a {
            display:                 inline-block;
            margin:                  -4px;
            padding:                 1px 6px 3px;
            color:                   $navbar-dark-color;
            text-decoration:         underline dotted;
            text-underline-position: under;

            &:active   { color: $navbar-dark-active-color; }
            &:disabled { color: $navbar-dark-disabled-color; }

            &:hover {
                color:                 $navbar-dark-hover-color;
                text-decoration-style: solid;
            }

            &:focus {
                outline-color:   $navbar-dark-hover-color;
                outline-offset:  -4px;
                text-decoration: none;
            }
        }

        .address {
            // TODO: ?
        }

        .external-links {
            text-align: right;
        }

        .federal-lib-logo {

            width:         auto;
            padding-right: 0;
            flex:          0 0 4.166666666666667%;
            max-width:     4.166666666666667%;

            a:focus {
                outline-offset: 0;
            }
        }

        .federal-lib-text {
            margin-left: 1em;
            flex:        1 1 auto;
        }
    }
}
