// app/assets/stylesheets/shared/_footer.scss

@import 'bootstrap/variables';

//=============================================================================
// Page layout - footer
//=============================================================================

// Like Virgo 3.x footer text and base background colors.
// TODO: why do the text colors need to be restored here?
#footer-navbar {

    margin-bottom:    0;
    background-color: #012251; // Like Virgo 3.x footer base background color.

    .footer-content {

        margin-top:    1em;
        margin-bottom: 1em;
        padding:       0;
        color:         $navbar-inverse-color;

        // Restore link colors // TODO: why?
        a {
                         color: $navbar-inverse-link-color;
            &:active   { color: $navbar-inverse-link-active-color;   }
            &:hover    { color: $navbar-inverse-link-hover-color;    }
            &:disabled { color: $navbar-inverse-link-disabled-color; }
        }

        .address {
            // TODO: ?
        }

        .external-links {
            text-align: right;
        }

        .federal-lib-logo {
            width:         auto;
            padding-right: 0;
        }

        .federal-lib-text {
            // TODO: ?
        }
    }
}
