// app/assets/stylesheets/shared/_header.scss

//=============================================================================
// Page layout - header
//=============================================================================

// Make "Virgo" logo text visible.
.navbar-brand {

    display:         block;
    width:           auto;
    margin-bottom:   0.2rem;
    text-indent:     0;
    text-decoration: none;
    font-size:       xx-large;
    font-weight:     bold;
    font-variant:    small-caps;
    color:           whitesmoke;
    overflow:        visible; // For focus outline
    flex:            0 0 auto;

    @if $logo-image {
        background: transparent $logo-image no-repeat top left;
    } @else {
        background: transparent;
    }

    .navbar-logo {
        margin-left: 1rem;
    }

    // Make the current lens less prominent than the application name.
    .navbar-lens {

        margin-right: 1rem;
        font-size:    smaller;
        font-variant: none;

        &:focus { outline-offset: 3px }
    }

    a {
        color: inherit;

        &:hover {
            color:           #337ab7;
            text-decoration: none;
        }
    }
}

// Account links (bookmarks, history, etc).
.navbar-nav {
    .nav-link:focus {
        outline-offset: -2px;
    }
}

// Search bar below the top header.
.navbar-search {

    $x-separation: $grid-gutter-width / 2;

    .search-query-form {

        margin-right: $x-separation;
        padding:      0;
        flex:         3 1 auto;

        // Search type drop-down menu.
        .search_field {
            flex: 1 1 auto;
        }

        // Search input box.
        .twitter-typeahead {
            flex: 2 1 auto;
        }

        // Search submit button.
        .input-group-append {
            flex: 0 0 auto;
        }

        .search_field,
        .search-btn {
            &:hover,
            &:focus {
                z-index: $zindex-typeahead + 1;
            }
        }
    }

    .navbar-form {
        margin: 2px $x-separation 2px 0;
        flex:   1 1 auto;
    }

    .lens-menu {

        margin:      -0.5rem 0 -0.5rem 0.5rem;
        line-height: 2.5;
        flex-wrap:   nowrap;
        flex:        1 1 auto;
        align-self:  flex-end;

        @media (max-width: breakpoint-max(sm)) {
            margin-top:  0;
            margin-left: 0;
            line-height: 1.5;
        }

        .nav-link {

            position: relative;

            &:not(.disabled) {
                &:hover,
                &:focus {
                    color:           $link-hover-color;
                    text-decoration: underline;
                    outline-offset:  -3px;
                    z-index:         100;
                }
            }
        }
    }
}
