// app/assets/stylesheets/shared/_header.scss

//=============================================================================
// Page layout - header
//=============================================================================

#header-navbar {
    // Make "Virgo" logo text visible.
    .navbar-brand {

        width:           auto;
        text-indent:     0.75em;
        text-decoration: none;
        font-size:       xx-large;
        font-weight:     bold;
        font-variant:    small-caps;
        color:           whitesmoke;

        // Make the current lens less prominent than the application name.
        .navbar-lens {
            font-size:    smaller;
            font-variant: none;
        }

        a {
            color: inherit;

            &:hover {
                color:           #337ab7;
                text-decoration: none;
            }
        }
    }
}
