// app/assets/stylesheets/shared/_index.scss

//=============================================================================
// Common definitions for search result (index) pages.
//=============================================================================

.search-constraints-container {

    display: flex;
    margin:  1rem 0;

    .constraints-container {
        flex: 1 1 auto;
    }

    .start-over-container {
        margin:       auto 0 1rem;
        flex:         0 0 auto;
        justify-self: flex-end;
    }
}

// "Did-you-mean" suggestion.
.suggest {
    margin-bottom: 2rem;
}

// Page links and search widgets
.sort-pagination {
    .tools.btn-group {
        .rss-link,
        .atom-link,
        .print-view-link {
            margin-left: 0.5rem;
            > * {
                font-size:   150%;
                line-height: 150%;
            }
        }
    }
}

// Facet panels
.panel-title a {
    text-decoration: none;
}

// Document list
.documents-list {

    margin-bottom: 2rem;

    .document {

        .document-title-heading {

            display:   flex;
            font-size: larger;

            .document-counter {
                display:        inline-block;
                margin-right:   0.25rem;
                vertical-align: top;
            }

            a {
                display: inline-block;
            }
        }

        .index-document-functions {

            padding-left: 0;

            .bookmark-toggle {

                text-align: right;

                .toggle-bookmark {
                    min-width: unset;
                }
            }
        }

        // In search results, scale the thumbnail to limit its height.
        .document-thumbnail {

            width:      180px;
            max-height: 120px;
            margin-top: 0.25rem;
            object-fit: contain;

            a {
                max-height: inherit;
                max-width:  inherit;
                object-fit: inherit;

                img {
                    float:      right;
                    max-height: inherit;
                    border:     1px solid lightgray;
                }
            }

            // TODO: remove when Virgo 3 is gone
            .pre-release-button {
                display: none;
            }
        }

        &.blacklight-coin {
            .document-thumbnail {
                a {
                    img {
                        border:        none;
                        border-radius: 50%;
                    }
                }
            }
        }

        .document-title {
            @include scroll-tall-element(10.1vh);
            padding-bottom: 1px;
        }

        dd {
            @include scroll-tall-element(11vh);
        }

        // Allow these to be taller before adding a scrollbar.
        dd.blacklight-subject_summary_a,
        dd.blacklight-eds_abstract {
            max-height: 25vh;
        }

        // These handle scrolling on their own.
        dd.availability,
        dd.blacklight-eds_html_fulltext {
            max-height: unset;
            overflow:   unset;
        }

        dd.blacklight-url_a {
            a {
                display:    block;
                word-break: keep-all;
                word-wrap:  break-word;
            }
        }
    }
}

// TODO: remove when Virgo 3 is gone
.pagination {

    justify-content: space-between;

    .pre-release-button {
        @include height-fit-content;
    }
}
