// app/assets/stylesheets/shared/_mixins.scss
//
// @see bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/mixins/_vendor-prefixes.scss

@import "bootstrap/mixins/vendor-prefixes";

// ============================================================================
// Generic - Widths
// ============================================================================

/// Set width to the available width.
///
/// @param {String} $fall-back        The value that will be used for MS Edge
///                                     and Internet Explorer (since they don't
///                                     support any "fit-content" variant).
///
/// NOTE: RubyMine marks "-webkit-fill-available" as invalid, but in fact it's
/// *required* by Chrome.
///
//noinspection CssInvalidPropertyValue
@mixin width-available($fall-back: 50%) {
    width: $fall-back;
    width: -webkit-fill-available;
    width: -moz-available;
    width: available;
}

/// Set width to fit the content.
///
/// @param {String} $fall-back        The value that will be used for MS Edge
///                                     and Internet Explorer (since they don't
///                                     support any "fit-content" variant).
///
/// NOTE: RubyMine marks "-webkit-fit-content" as invalid, but in fact it's
/// *required* by Safari and some Android browsers.
///
//noinspection CssInvalidPropertyValue
@mixin width-fit-content($fall-back: auto) {
    width: $fall-back;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

/// Set width to max-content.
///
/// @param {String} $fall-back        The value that will be used for MS Edge
///                                     and Internet Explorer (since they don't
///                                     support any "fit-content" variant).
///
/// NOTE: RubyMine marks "-webkit-max-content" as invalid, but in fact it's
/// *required* by Safari and some Android browsers.
///
//noinspection CssInvalidPropertyValue
@mixin width-max-content($fall-back: 50%) {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

/// Set min-width to fit the content.
///
/// @param {String} $fall-back        The value that will be used for MS Edge
///                                     and Internet Explorer (since they don't
///                                     support any "fit-content" variant).
///
/// NOTE: RubyMine marks "-webkit-fit-content" as invalid, but in fact it's
/// *required* by Safari and some Android browsers.
///
//noinspection CssInvalidPropertyValue
@mixin min-width-fit-content($fall-back: 50%) {
    min-width: $fall-back;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
}

/// Set max-width to max-content.
///
/// @param {String} $fall-back        The value that will be used for MS Edge
///                                     and Internet Explorer (since they don't
///                                     support any "fit-content" variant).
///
/// NOTE: RubyMine marks "-webkit-fit-content" as invalid, but in fact it's
/// *required* by Safari and some Android browsers.
///
//noinspection CssInvalidPropertyValue
@mixin max-width-max-content($fall-back: 50%) {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
}

// ============================================================================
// Generic - Heights
// ============================================================================

/// Set height to the available vertical space.
///
/// @param {String} $fall-back        The value that will be used for MS Edge
///                                     and Internet Explorer (since they don't
///                                     support any "fit-content" variant).
///
/// NOTE: RubyMine marks "-webkit-fill-available" as invalid, but in fact it's
/// *required* by Chrome.
///
//noinspection CssInvalidPropertyValue
@mixin height-available($fall-back: 50%) {
    height: $fall-back;
    height: -webkit-fill-available;
    height: -moz-available;
    height: available;
}

/// Set height to fit the content.
///
/// @param {String} $fall-back        The value that will be used for MS Edge
///                                     and Internet Explorer (since they don't
///                                     support any "fit-content" variant).
///
/// NOTE: RubyMine marks "-webkit-fit-content" as invalid, but in fact it's
/// *required* by Safari and some Android browsers.
///
//noinspection CssInvalidPropertyValue
@mixin height-fit-content($fall-back: auto) {
    height: $fall-back;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

/// Set height to max-content.
///
/// @param {String} $fall-back        The value that will be used for MS Edge
///                                     and Internet Explorer (since they don't
///                                     support any "fit-content" variant).
///
/// NOTE: RubyMine marks "-webkit-fit-content" as invalid, but in fact it's
/// *required* by Safari and some Android browsers.
///
//noinspection CssInvalidPropertyValue
@mixin height-max-content($fall-back: auto) {
    height: $fall-back;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

// ============================================================================
// Box model
// ============================================================================

/// justify
///
/// @param {String} $justify
///
@mixin justify($justify) {
    -webkit-justify-content: $justify;
    -ms-justify-content:     $justify;
    justify-content:         $justify;
}

/// flex-direction
///
/// @param {String} $direction
///
@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
    -ms-flex-direction:     $direction;
    flex-direction:         $direction;
}

/// display-flex
///
/// @param {String} $flex             Either *flex* or *inline-flex*
///                                     (default: *flex*)
///
@mixin display-flex($flex: flex) {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-#{$flex};
    display: -ms-#{$flex};
    display: #{$flex};
}

/// Make an element a horizontal or vertical flex container.
///
/// @param {String} $direction        Either *row* or *column*.
/// @param {String} $justify          If provided, used with justify-content.
/// @param {String} $flex             Either *flex* or *inline-flex*
///                                     (default: *flex*)
///
@mixin flex-box($direction: row, $justify: false, $flex: flex) {
    @include display-flex($flex);
    @include flex-direction($direction);
    @if $justify {
        @include justify($justify);
    }
}

/// Make an element a horizontal or vertical inline flex container.
///
/// @param {String} $direction        Either *row* or *column*.
/// @param {String} $justify          If provided, used with justify-content.
///
@mixin inline-flex-box($direction, $justify: false) {
    @include flex-box($direction, $justify, inline-flex);
}

// ============================================================================
// Animation
// ============================================================================

/// Browser agnostic animations.
///
/// @param {String} $name             Keyframe name
/// @param {Number} $delay            Time before starting animation.
/// @param {Number} $duration         Animation time span.
/// @param {String} $fill-mode        Default: none.
/// @param {*}      $repeat           Repetitions (e.g infinite); default: 1.
///
@mixin animate(
    $name,
    $delay:     0s,
    $duration:  1s,
    $fill-mode: none,
    $repeat:    1
) {
    // Bar transitions from empty to full monotonically.
    @include animation($name);

    // If transitioning happens quickly enough, the bar doesn't show at all.
    @include animation-delay($delay);

    // Based on default AJAX timeout set up in shared/session.js.
    @include animation-duration($duration);

    // If time runs out keep the progress bar fully extended.
    @include animation-fill-mode($fill-mode);

    // Number of times to run the animation.
    @include animation-iteration-count($repeat);

    @content;
}

/// Pause the animation on an element.
///
@mixin pause-animation {
    -webkit-animation-play-state: paused;
    animation-play-state:         paused;
}

/// Animation keyframe definitions.
///
/// @param {String} $name             Keyframe name
///
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} { @content; }
    @keyframes         #{$name} { @content; }
}

// ============================================================================
// Animation - Keyframes
// ============================================================================

$ani-pulse-in:    0.9;
$ani-pulse-out:   1.1;

// Make an element (e.g. button) throb by shrinking and growing it.
@include keyframes(kf-throb) {
    from {
        -webkit-animation-timing-function: linear;
        animation-timing-function:         linear;
    }
    25%  { transform: scale($ani-pulse-in); }
    50%  { transform: scale(1); }
    75%  { transform: scale($ani-pulse-out); }
    100% { transform: scale(1); }
}

// Make an element (e.g. button) pulse by briefly shrinking it.
@include keyframes(kf-pulse-in) {
    from {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function:         ease-in;
    }
    50%  { transform: scale($ani-pulse-in); }
    100% { transform: scale(1); }
}

// Make an element (e.g. button) pulse by briefly growing it.
@include keyframes(kf-pulse-out) {
    from {
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function:         ease-in-out;
    }
    50%  { transform: scale($ani-pulse-out); }
    100% { transform: scale(1); }
}

// Highlight an element by making it glow.
@include keyframes(kf-glow) {
    from {
        -webkit-animation-timing-function: linear;
        animation-timing-function:         linear;
    }
    50%  { box-shadow: 0 0 15px 1px blue; }
    100% { box-shadow: none; }
}
