// app/assets/stylesheets/shared/_mixins.scss

// ============================================================================
// Generic - Widths
// ============================================================================

/// Set width to the available width.
///
/// @param {String} $fall-back        The value that will be used for MS Edge
///                                     and Internet Explorer (since they don't
///                                     support any "fit-content" variant).
///
//noinspection CssInvalidPropertyValue  NOTE: RubyMine -webkit-fill-available
@mixin width-available($fall-back: 50%) {
    width: $fall-back;
    width: -webkit-fill-available;
    width: -moz-available;
    width: available;
}

/// Set width to fit the content.
///
/// @param {String} $fall-back        The value that will be used for MS Edge
///                                     and Internet Explorer (since they don't
///                                     support any "fit-content" variant).
///
//noinspection CssInvalidPropertyValue  NOTE: RubyMine -webkit-fit-content
@mixin width-fit-content($fall-back: auto) {
    width: $fall-back;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

// ============================================================================
// Generic - Heights
// ============================================================================

/// Set height to the available vertical space.
///
/// @param {String} $fall-back        The value that will be used for MS Edge
///                                     and Internet Explorer (since they don't
///                                     support any "fit-content" variant).
///
//noinspection CssInvalidPropertyValue  NOTE: RubyMine -webkit-fill-available
@mixin height-available($fall-back: 50%) {
    height: $fall-back;
    height: -webkit-fill-available;
    height: -moz-available;
    height: available;
}

/// Set height to fit the content.
///
/// @param {String} $fall-back        The value that will be used for MS Edge
///                                     and Internet Explorer (since they don't
///                                     support any "fit-content" variant).
///
//noinspection CssInvalidPropertyValue  NOTE: RubyMine -webkit-fit-content
@mixin height-fit-content($fall-back: auto) {
    height: $fall-back;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

// ============================================================================
// Animation
// ============================================================================

/// Browser agnostic animations.
///
/// @param {String} $name             Keyframe name
/// @param {Number} $delay            Time before starting animation.
/// @param {Number} $duration         Animation time span.
/// @param {String} $fill-mode        Default: none.
/// @param {*}      $repeat           Repetitions (e.g infinite); default: 1.
///
@mixin animate(
    $name,
    $delay:     0s,
    $duration:  1s,
    $fill-mode: none,
    $repeat:    1
) {
    // Bar transitions from empty to full monotonically.
    @include animation($name);

    // If transitioning happens quickly enough, the bar doesn't show at all.
    @include animation-delay($delay);

    // Based on default AJAX timeout set up in shared/session.js.
    @include animation-duration($duration);

    // If time runs out keep the progress bar fully extended.
    @include animation-fill-mode($fill-mode);

    // Number of times to run the animation.
    @include animation-iteration-count($repeat);

    @content;
}

/// Pause the animation on an element.
///
@mixin pause-animation {
    -webkit-animation-play-state: paused;
    animation-play-state:         paused;
}

/// Animation keyframe definitions.
///
/// @param {String} $name             Keyframe name
///
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} { @content; }
    @keyframes         #{$name} { @content; }
}

// ============================================================================
// Animation - Keyframes
// ============================================================================

$ani-pulse-in:    0.9;
$ani-pulse-out:   1.1;

// Make an element (e.g. button) throb by shrinking and growing it.
@include keyframes(kf-throb) {
    from {
        -webkit-animation-timing-function: linear;
        animation-timing-function:         linear;
    }
    25%  { transform: scale($ani-pulse-in); }
    50%  { transform: scale(1); }
    75%  { transform: scale($ani-pulse-out); }
    100% { transform: scale(1); }
}

// Make an element (e.g. button) pulse by briefly shrinking it.
@include keyframes(kf-pulse-in) {
    from {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function:         ease-in;
    }
    50%  { transform: scale($ani-pulse-in); }
    100% { transform: scale(1); }
}

// Make an element (e.g. button) pulse by briefly growing it.
@include keyframes(kf-pulse-out) {
    from {
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function:         ease-in-out;
    }
    50%  { transform: scale($ani-pulse-out); }
    100% { transform: scale(1); }
}

// Highlight an element by making it glow.
@include keyframes(kf-glow) {
    from {
        -webkit-animation-timing-function: linear;
        animation-timing-function:         linear;
    }
    50%  { box-shadow: 0 0 15px 1px blue; }
    100% { box-shadow: none; }
}
