// app/assets/stylesheets/shared/_modal.scss

//=============================================================================
// Modal dialogs
//=============================================================================

$modal-lg: 95vw;
$modal-md: 97vw;
$modal-sm: 100vw;

.modal-content {
    padding: 1em;
}
