// app/assets/stylesheets/shared/_show.scss

//=============================================================================
// Common definitions for item detail (show) pages
//=============================================================================

.pagination-search-widgets {

    display: flex;
    margin:  1rem 0;

    .page_links {
        margin: auto 0;
        flex:   1 1 auto;
    }

    .constraints-container {
        flex:         0 1 auto;
        justify-self: flex-end;
    }
}

body.blacklight-show .document {

    // In item details, scale the thumbnail to limit its width.
    .document-thumbnail {

        float:         right;
        width:         180px;
        margin-left:   3rem;
        margin-bottom: 2rem;
        object-fit:    contain;

        a {
            max-height: inherit;
            max-width:  inherit;
            object-fit: inherit;

            img {
                border: 1px solid lightgray;
            }
        }
    }

    &.blacklight-online,
    &.blacklight-coin,
    &.blacklight-online-video,
    &.blacklight-visual-materials,
    &.blacklight-streaming-video {
        .document-thumbnail {

            width:      240px;
            max-width:  300px;
            max-height: 300px;

            img {
                max-width:  100%;
                max-height: inherit;
            }
        }
    }

    &.blacklight-coin,
    &.blacklight-online-video,
    &.blacklight-visual-materials,
    &.blacklight-streaming-video {
        .document-thumbnail {
            img {
                width: 100%;
            }
        }
    }

    &.blacklight-online-video,
    &.blacklight-streaming-video {
        .document-thumbnail {
            width: 300px;
        }
    }

    &.blacklight-coin {
        .document-thumbnail {
            img {
                border:        none;
                border-radius: 50%;
            }
        }
    }
}
