// app/assets/stylesheets/shared/_variables.scss

$font-size-base:    14px !default;

$font-size-large:   ceil(($font-size-base * 1.25)) !default;    // ~18px
$font-size-small:   ceil(($font-size-base * 0.85)) !default;    // ~12px

$font-size-h1:      floor(($font-size-base * 2.0))  !default;   // ~28px
$font-size-h2:      floor(($font-size-base * 1.75)) !default;   // ~24.5px
$font-size-h3:      ceil(($font-size-base * 1.5))   !default;   // ~21px
$font-size-h4:      $font-size-large !default;                  // ~18px
$font-size-h5:      $font-size-base  !default;                  // ~14px
$font-size-h6:      $font-size-small !default;                  // ~12px

// For now, colors similar to Virgo 3.x.
// TODO: better color scheme

$logo_image:        false;
$navbar-inverse-bg: #051F39; // For div#header-navbar background.
$navbar-default-bg: #c0d1eb; // For div#search-navbar background.
