<%# app/views/about/common/_sidebar.html.erb -%>
<%-
  # Controls to select "About" pages inserted into `content_for(:sidebar)`.
  pages = {
    main:     about_index_path,
    library:  about_list_path(:library),
    location: about_list_path(:location),
  }
  if authorized?
    pages.merge!(
      solr:       about_solr_path,
      solr_stats: about_solr_stats_path,
      eds:        about_eds_path,
      log:        about_log_path
    )
  end
  controls = sidebar_controls(pages)
  return unless controls.present?
-%>

<%- controls.each_pair do |button_label, button_data| -%>
  <%- path = button_data[:path] -%>
  <%- if button_label.is_a?(String) -%>
    <%- tooltip  = button_data[:tooltip].presence -%>
    <%- selected = ('disabled' if request.path == path) -%>
    <li class="sidebar-entry <%= selected -%>">
      <%- link_opt = {} -%>
      <%- link_opt.merge!(title: tooltip) if tooltip -%>
      <%- link_opt.merge!(class: selected, tabindex: -1) if selected -%>
      <%= link_to(button_label, path, link_opt) %>
    </li>
  <%- else -%>
    <%= render path %>
  <%- end -%>
<%- end -%>
