// app/assets/stylesheets/controllers/_about.scss

//=============================================================================
// About pages
//=============================================================================

body.blacklight-about {

    $sidebar-width: 2; // columns
    $content-width: 12 - $sidebar-width;

    $sidebar-separation:  0.25rem;
    $sidebar-selected-bg: whitesmoke;

    //=========================================================================
    // Sidebar and page layout
    //=========================================================================

    #content {
        @extend .col-md-#{$content-width};
    }

    .page-sidebar {
        @extend .col-md-#{$sidebar-width};
    }

    .about-sidebar-link {

        @extend .card;

        margin-bottom: $sidebar-separation;

        &.disabled {
            background-color: $sidebar-selected-bg;
        }

        a {
            @extend .btn;

            text-align: left;
        }
    }

    .solr-controls {
        // TODO: ???
    }

    .log-controls {

        margin: 0;
        border: none;

        .log-button {

            display:         inline-flex;
            margin-bottom:   $sidebar-separation;
            justify-content: left;

            &:before {
                line-height: 1.5;
            }
        }
    }

    //=========================================================================
    // About pages
    //=========================================================================

    p {
        margin-bottom: 0.25rem;
    }

    .featured {
        background-color: lightcyan;
    }

    .inline {
        display:        inline-block;
        width:          auto;
        vertical-align: super;
    }

    .about-section {
        margin-top: 2rem;
    }

    .about-entry {
        margin-bottom: 0;
    }

    .about-item {
        display:     inline-block;
        font-weight: bold;
    }

    .about-value {

        display:     inline;
        margin-left: 0.25rem;

        &:before { content: "= "; }
    }

    .about-listing {
        padding:     0.25rem 0.5rem;
        white-space: pre;
        overflow:    auto;
        border:      1px solid black;
    }

    .about-table {
        width: -moz-available;
        width: available;
    }

    //=========================================================================
    // About list pages
    //=========================================================================

    .about-topic-title {
        // TODO: ?
    }

    .about-topic-description {
        margin-bottom: 1rem;
    }

    .about-topic-table {
        @extend .about-table;
    }

    //=========================================================================
    // About Solr page
    //=========================================================================

    .about-solr {

        margin-bottom: 1px;
        border:        1px solid #00000020;

        &.about-header {
            @extend .bg-light;
            font-weight: bold;
        }

        .about-column,
        .about-item,
        .about-value {
            display:      inline-block;
            width:        30%;
            margin:       0;
            padding-left: 0.5rem;
        }

        .about-value:before { content: ""; }
    }

    .about-lens-select {

        @extend .inline;

        margin-left: 1rem;

        .form-control {
            @extend .inline;
        }
    }

    .about-solr-table-container {
        height:     90vh;
        overflow-x: auto;
        resize:     both;
    }

    .about-solr-table {

        $border: 1px solid black;

        @extend .about-table;

        margin-bottom: 0.25rem;
        border:        $border;

        .heading {
            background-color: #eeeeee;
        }

        .heading,
        .cell {
            padding: 0 0.5rem;
            border:  $border;
        }

        .about-histogram {

            @extend .about-table;

            display:      inline-table;
            padding-left: 0;

            .zero {
                color: darkgray;
            }

            tr {
                display: inline;
            }

            th, td {
                min-width:   75px;
                padding:     0 0.25rem 1px 0;
                line-height: 1;
                text-align:  right;
            }

            td {
                border: 2px solid white;
            }
        }
    }

    //=========================================================================
    // About log page
    //=========================================================================

    .log-scroller {
        // TODO: ?
    }
}
