// app/assets/stylesheets/controllers/_about.scss

//=============================================================================
// About pages
//=============================================================================

body.blacklight-about {

    $sidebar-width: 2; // columns
    $content-width: 12 - $sidebar-width;

    $sidebar-separation:  0.25rem;
    $sidebar-selected-bg: whitesmoke;

    //=========================================================================
    // General
    //=========================================================================

    .inline {
        display:        inline-block;
        width:          auto;
        vertical-align: super;
    }

    // Styling for "ok" glyph indicating.
    .in-this-lens {
        color: #00ff0040;
    }

    // Styling for the "remove" glyph indicating that an item does not pertain
    // to the selected lens.
    .not-this-lens {
        // TODO: ???
    }

    // Styling for the "remove" glyph indicating that an item does not pertain
    // to any lens.
    .not-any-lens {
        @extend .text-light;
        @extend .bg-danger;
    }

    //=========================================================================
    // Sidebar and page layout
    //=========================================================================

    #content {
        @extend .col-md-#{$content-width};
    }

    .page-sidebar {
        @extend .col-md-#{$sidebar-width};
    }

    .sidebar-entry {

        @extend .card;

        margin-bottom: $sidebar-separation;

        &.disabled {
            background-color: $sidebar-selected-bg;
        }

        a {
            @extend .btn;

            text-align: left;
        }
    }

    // A grouping of related sidebar controls.
    %sidebar-controls {
        margin: 0;
        border: none;
    }

    .solr-controls {
        @extend %sidebar-controls;
    }

    .eds-controls {
        @extend %sidebar-controls;
    }

    .log-controls {

        @extend %sidebar-controls;

        .log-button {

            display:         inline-flex;
            margin-bottom:   $sidebar-separation;
            justify-content: left;

            &:before {
                line-height: 1.5;
            }
        }
    }

    //=========================================================================
    // About pages
    //=========================================================================

    .about-title {
        // TODO: ?
    }

    .about-description {
        margin-bottom: 1rem;
    }

    .about-lens-select {

        @extend .inline;

        margin-left: 1rem;

        .form-control {
            @extend .inline;
        }
    }

    .about-table-container {
        // TODO: ???
    }

    .about-table-scroller {

        @extend .about-table-container;

        width:      67vw;
        max-height: 90vh;
        overflow-x: auto;
        resize:     both;
    }

    .about-table {

        @include width-available;

        // For consistent alignment between tables.
        col.col1 {
            width: 20%;
        }

        // Ensure that nested tables fit within a cell as well as possible.
        .about-table-container {
            width:      auto;
            height:     auto;
            max-height: unset;
            padding:    1rem 0.5rem;
            overflow-x: unset;
        }
    }

    //=========================================================================
    // About index page
    //=========================================================================

    p {
        margin-bottom: 0.25rem;
    }

    .featured {
        background-color: lightcyan;
    }

    .about-section {
        margin-top: 2rem;
    }

    .about-entry {
        margin-bottom: 0;
    }

    .about-item {
        display:     inline-block;
        font-weight: bold;
    }

    .about-value {

        display:     inline;
        margin-left: 0.25rem;

        &:before { content: "= "; }
    }

    .about-listing {
        padding:     0.25rem 0.5rem;
        white-space: pre;
        overflow:    auto;
        border:      1px solid black;
    }

    //=========================================================================
    // About list pages
    //=========================================================================

    .about-topic-table {
        @extend .about-table;
    }

    //=========================================================================
    // About Solr page
    //=========================================================================

    .about-solr {

        margin-bottom: 1px;
        border:        1px solid #00000020;

        &.about-header {
            @extend .bg-light;
            font-weight: bold;
        }

        .about-column,
        .about-item,
        .about-value {
            display:      inline-block;
            width:        30%;
            margin:       0;
            padding-left: 0.5rem;
        }

        .about-value:before { content: ""; }
    }

    .about-solr-table-container {
        @extend .about-table-container;
    }

    .about-solr-table-scroller {
        @extend .about-table-scroller;
    }

    .about-solr-table {

        $border: 1px solid black;

        @extend .about-table;

        margin-bottom: 0.25rem;
        border:        $border;

        .heading {
            background-color: #eeeeee;
        }

        .heading,
        .cell {
            padding:        0 0.5rem;
            vertical-align: baseline;
            border:         $border;
        }

        .about-histogram {

            @extend .about-table;

            display:      inline-table;
            padding-left: 0;

            .zero {
                color: darkgray;
            }

            tr {
                display: inline;
            }

            th, td {
                min-width:   75px;
                padding:     0 0.25rem 1px 0;
                line-height: 1;
                text-align:  right;
            }

            td {
                border: 2px solid white;
            }
        }
    }

    //=========================================================================
    // About EBSCO EDS page
    //=========================================================================

    .about-eds {
        @extend .about-solr;
    }

    .about-eds-table-container {
        @extend .about-table-container;
    }

    .about-eds-table-scroller {
        @extend .about-table-scroller;
    }

    .about-eds-table {

        @extend .about-solr-table;

        border: none;

        // Bold the first data row of a nested two-column table.
        .nested > tbody > tr:first-of-type {
            font-weight: bold;
        }
    }

    //=========================================================================
    // About log page
    //=========================================================================

    .log-scroller {
        // TODO: ?
    }
}
