// app/assets/stylesheets/controllers/_advanced_search.scss

// Do something to set apart the 'OR'ed facet selections of advanced search.
// TODO: These elements should use .card not .well.
.inclusive_or.well:not(.appliedFilter) {

    margin-bottom: 0.5rem;
    border-bottom: 1px solid gray;

    .remove:not(.forbidden) {
        &:hover, &:active {
            @extend .btn-danger;
        }
    }
}

//=============================================================================
// Advanced Search form
//=============================================================================

.advanced-search-form {

    .constraints {

        margin-bottom: 2rem;

        .constraint-value {

            display:       inline-flex;
            max-width:     100%;
            margin-bottom: 0.5rem;
            cursor:        default;

            .filter-name {

                flex:         0 0 auto;
                margin-right: 0.25rem;

                &:after { content: none; }
            }

            .filter-values {

                display:         flex;
                justify-content: space-between;
                flex:            1 1 auto;

                .filter-value {
                    display:     block;
                    white-space: normal;
                    flex:        1 1 0;
                }

                .filter-separator {
                    display:     block;
                    flex:        1 1 auto;
                }
            }
        }
    }

    .limit-criteria-heading {
        padding-bottom: 0.5rem;
    }

    .sort-submit-buttons {

        display:         flex;
        flex-direction:  row;
        justify-content: space-between;
        margin:          2rem 0;

        .submit-buttons {
            margin: auto 0 0 auto;
        }
    }
}

.blacklight-advanced-facet-select {
    .label-and-count {
        padding-left: 1.25rem;
    }
}
