// app/assets/stylesheets/controllers/_articles.scss

//=============================================================================
// Articles - Settings
//=============================================================================

// Control the width of the abstract:
//
//  *true*  = Use all available horizontal space to up the right edge of the
//              display.
//
//  *false* = Constrain to the width of the metadata area so that text does not
//              encroach on the area under the tools panel.
//
$article-abstract-full-width: false;

// Control the width of the full-text viewer:
//
//  *true*  = Use all available horizontal space to up the right edge of the
//              display.
//
//  *false* = Constrain to the width of the metadata area so that text does not
//              encroach on the area under the tools panel.
//
$article-fulltext-full-width: true;

//=============================================================================
// Articles - Definitions
//=============================================================================

// Make paragraphs delineated by <br> stand apart.
%article-paragraphs {
    br { margin-bottom: 0.5rem; }
}

// Make list items delineated by <br> stand apart.
%article-list {
    br { margin-bottom: 0.05rem; }
}

// Articles panels
%article-panel {
    padding:       0.5rem;
    border-radius: 4px;
    border:        1px solid #888;
}

// Span full width of content area.
%article-full-width {
    width:       100%;
    margin-left: 0;
}

//=============================================================================
// Articles - EBSCO EDS XML fields
//
// @see Blacklight::Eds::Document#prepare
//=============================================================================

// Elements denoting searchable terms.
searchlink, searchLink {
    display:     inline-block;
    font-style:  italic;
}

// Elements indicating a relationship between authors and institutions.
relatesto, relatesTo {
    display:     inline-block;
    line-height: 1;
    font-weight: bold;
    color:       $gray-700;
    background:  ghostwhite;
}

//=============================================================================
// Articles - General
//=============================================================================

// Links
dt.blacklight-eds_plink {
    visibility: hidden;
}

//=============================================================================
// Articles - Show pages
//=============================================================================

// === Abstract ===
// @see ArticlesHelper#eds_abstract
dt.blacklight-eds_abstract {
    @if $article-abstract-full-width {
        display: none;
    }
}
dd.blacklight-eds_abstract {

    @extend %article-paragraphs;
    @if $article-abstract-full-width {
        @extend %article-full-width;
    }

    line-height: 1.25;

    // Locally-inserted class for implied headings in the abstract.
    .subheading {

        $gap: 0.25rem;

        display:       block;
        margin-top:    $gap;
        margin-bottom: $gap / 2;
        font-weight:   bold;

        &:first-of-type { margin-top: $gap / 2; }
    }
}

// === Author affiliations ===
// @see Blacklight::Eds::Document#relates_to
dd.blacklight-eds_author_affiliations {
    @extend %article-list;
}

// === Authors (composed) ===
// @see Blacklight::Eds::Document#relates_to
dd.blacklight-eds_authors_composed {
    @extend %article-list;
}

// === NAICS code ===
// @see Blacklight::Eds::Document#naics_link
dd.blacklight-eds_code_naics {

    @extend %article-list;

    searchLink, searchlink {
        &:before {
            display: block;
            content: "";
        }
    }
}

// === Publication type ===
// @see ArticlesHelper#eds_publication_type_label
dd.blacklight-eds_publication_type {
    @extend %dd-item-format;
}

// === Related subjects ===
// @see Blacklight::Eds::Document#search_link
dd.blacklight-eds_subjects {
    @extend %article-list;
}

//=============================================================================
// Articles - Show pages - Embedded fulltext
//
// @see ArticlesHelper::FullText#render_fulltext
//=============================================================================

dt.blacklight-eds_html_fulltext {
    @if $article-fulltext-full-width {
        @extend .sr-only;
    }
    @else {
        visibility: hidden;
    }
}
dd.blacklight-eds_html_fulltext {

    // Undo .col-md-9 settings.
    @if $article-fulltext-full-width {
        flex:      unset;
        max-width: unset;
    }

    // Used for the element which is the target of the #full-text anchor.
    > .anchor {
        margin-top:    0;
        margin-bottom: 0.75rem;
    }

    // Resizable scroller for full-text content.
    > .scroller {

        @extend %article-panel;
        @if $article-fulltext-full-width {
            @extend %article-full-width;
        }

        max-height:          97vh;
        overflow-x:          auto;
        overflow-y:          scroll;
        resize:              both;
        overscroll-behavior: contain;

        // Settings that apply to any text not inside of an element like <p>.
        line-height: 1.25;
        font-size:   medium;
        color:       $gray-600;

        //=====================================================================
        // Locally-inserted classes
        //=====================================================================

        // Denotes an element generated by the display logic.
        // @see ArticlesHelper::FullText#EBSCO_OPTS
        .generated {
            // TODO: ???
        }

        // Do not allow word break.
        .keep-all {
            display:    inline-block;
            word-break: keep-all;
        }

        //=====================================================================
        // EBSCO EDS full-text elements
        //=====================================================================

        // Treat each paragraph and other top-level element as a block.
        > :not(br) {
            display:       block;
            margin-top:    0.75rem;
            margin-bottom: 0.75rem;
            overflow-wrap: break-word;
            color:         $black;
        }

        a {
            text-decoration: underline;
        }

        h1 {
            margin-top: 0;
            font-size:  x-large;
        }

        h2 {
            font-size:  large;
        }

        // === Leading content elements (usually seen once at the start)

        // Article ID and other information (<anid> in the received data).
        > anid {
            margin:       -0.5rem -0.5rem 1rem;
            padding:      0 0.67rem 0.25rem;
            word-break:   break-all;
            font-size:    small;
            font-variant: all-small-caps;
            color:        white;
            background:   darkgray;
        }

        // Journal section (<jsection> in the received data).
        > jsection {
            padding:      0 0.5rem 0.25rem;
            font-size:    larger;
            font-weight:  bolder;
            font-variant: all-small-caps;
            border:       1px solid gray;
        }

        // Extended title? (<et> in the received data).
        > et {
            font-style: italic;
        }

        // Article title (<title> in the received data).
        > atitle {
            margin-bottom: 1rem;
            line-height:   1.1;
            font-size:     x-large;
            font-weight:   bold;
        }

        // Article subtitle or tagline (<sbt> in the received data).
        > sbt {
            font-style:    italic;
        }

        // Author by-line (<aug> in the received data).
        //
        // One or more of these elements may been seen in the initial parts of
        // articles like book reviews where the title and author of the subject
        // book is shown as part of the lines that precede the text of the
        // article.
        //
        aug {

            margin-top:    0.5rem;
            margin-bottom: 1rem;
            padding-left:  0.75rem;
            padding-right: 1rem;
            font-style:    italic;

            // Paragraphs within responsibility section.
            * {
                margin-top: 0.5rem;
                font-style: inherit;
            }
        }

        // Author by-line and background (<aug> in the received data).
        //
        // For most received articles this is the final element, which serves
        // as a "statement of responsibility" for the article itself -- usually
        // one or more author names and affiliations/biographies.
        //
        aug:last-of-type {
            margin-top:    1.5rem;
            margin-bottom: 0;
            padding-left:  0;
            padding-right: 0;
        }

        // === Main content elements

        // Top-level paragraphs and bibliographic entries are given a "reading"
        // font. (Consequently, all other elements stand out as visual breaks
        // in the natural flow of the text since they appear in the default
        // [sans-serif] font.)
        > p, bibtext {
            font: medium "Times New Roman","Times",serif;
        }

        // Top-level paragraphs (<p> in the received data).
        > p {
            text-align:   justify;
            word-spacing: -0.5px;
        }

        // Section heading (<hd> in the received data).
        hd {
            margin-top:  1.5rem;
            line-height: 1.1;
            font-size:   large;
            font-weight: bolder;
        }

        // Sub-section heading (<hd1> in the received data).
        hd1 {
            margin-top:  1.25rem;
            font-weight: bolder;
        }

        // Image (<img> in the received data).
        img {
            display:   block;
            max-width: 100%;
            margin:    0.5em auto;
        }

        // Ordered list   (<olist> in the received data).
        // Unordered list (<ulist> in the received data).
        ol, ul {
            margin: 1rem;
        }

        // Bibliography list (<blist> in the received data).
        blist {
            margin: 1rem 0;
        }

        // Ordered list item   (<item> in the received data).
        // Unordered list item (<item> in the received data).
        // Bibliography item   (<bibtext> in the received data).
        ol li,
        ul li,
        blist bibtext {
            margin-top:    0;
            margin-bottom: 0.75rem;
        }

        // Ordered list item (<item> in the received data).
        ol li {
            list-style: decimal;
        }

        // Unordered list item (<item> in the received data).
        ul li {
            list-style: square;
        }

        // Bibliography list item (<bibtext> in the received data).
        blist bibtext {
            list-style: none;
            display:    list-item;
        }

        // Footnote reference (<reflink> in the received data).
        // Footnote number    (<bibl> in the received data).
        reflink,
        bibl {

            display:    inline;
            font-size:  95%;
            background: whitesmoke;

            a {
                text-decoration: none;
            }
        }

        // Footnote reference (<reflink> in the received data).
        reflink {
            opacity: 0.9;
        }

        // Footnote number (<bibl> in the received data).
        bibl {
            // TODO: ?
        }

        // Bibliography item following a footnote number goes on the same line.
        bibl + bibtext {
            display: inline;
            &:before { content: " "; }
        }

        // Erroneous footnote linkage (<nolink> in the received data).
        nolink {
            display: none;
        }

        // Constant-width table? (<ct> in the received data).
        ct {
            display:     block;
            width:       fit-content;
            margin:      2% 4%;
            padding:     2%;
            white-space: pre;
            font-family: monospace;
            background:  whitesmoke;
        }

        // ? (<rj> in the received data).
        rj {
            // TBD
        }

        // Table elements (inside <ephtml> in the received data).
        table {
            max-width:       100%;
            border:          1px solid transparent;
            border-collapse: collapse;
        }
        th {
            font-weight: bold;
        }
        th, td {
            padding: 0.5rem;
            border:  1px solid black;
        }

        // Reference section (<ref> in the received data).
        ref {

            display:        flex;
            flex-direction: column;

            atitle {
                @extend hd;
            }

            blist {
                margin: 0.5rem 0;
            }
        }
    }
}
