<%# app/views/shared/_announcements.html.erb -%>
<%-
  # Lens home announcements.

  announcements ||= nil
  announcements = Array.wrap(announcements).reject(&:blank?)
  return unless announcements.present?

  lens    ||= current_lens_key
  heading ||= t("blacklight.#{lens}.announcements.title", default: nil)
  heading ||= t('blacklight.lens.announcements.title', lens: lens)

-%>
<div id="announcements">
  <h3 class='section-heading'><%= heading %></h3>
  <ul>
    <%- announcements.each do |item| -%>
      <li><%= h(item) -%></li>
    <%- end -%>
  </ul>
</div>
