<%# app/views/shared/_home_heading.html.erb -%>
<%-
  # The heading at the top of each lens home page.

  lens    ||= current_lens_key
  heading ||= t("blacklight.#{lens}.welcome", default: :'blacklight.welcome')

  # A fall-back page name for browser history and browser tabs.
  unless has_page_title?
    content_for(:page_title) {
      t("blacklight.#{lens}.page_title", default: heading)
    }
  end

  total_cols = 12
  head_cols  = 5
  nav_cols   = total_cols - head_cols
  lens_css   = "nav-pills nav-fill col-md-#{nav_cols}"

-%>
<div class="page-header row bg-light">
  <h4 class="page-heading col-md-<%= head_cols %>"><%= heading %></h4>
  <%= render 'shared/lens_menu', css: lens_css %>
</div>
