<%# app/views/catalog/_citation.html.erb -%>
<%-
  docs = documents ||= nil
  return unless docs.present?

  title_opt ||= { format: true, title_tag: :div, title_max: 125 }

  citations = {
    mla:     :export_as_mla_citation_txt,
    apa:     :export_as_apa_citation_txt,
    chicago: :export_as_chicago_citation_txt
  }
-%>

<%- docs.each do |doc| -%>
  <h2 class="citation-title">
    <%= document_title(doc, title_opt) %>
  </h2>
  <%- citations.each_pair do |type, method| -%>
    <div class="citation card">
      <h3 class="citation-heading">
        <%= t("blacklight.citation.#{type}", default: type.upcase).html_safe %>
      </h3>
      <div class="citation-content">
        <%= doc.send(method).html_safe %>
      </div>
    </div>
  <%- end -%>
<%- end -%>
