<%# app/views/catalog/_facet_limit.html.erb -%>
<%-
  display_facet ||= @display_facet
  field_name    ||= display_facet.name
  facet_field   ||= facet_configuration_for_field(field_name)
  paginator = facet_paginator(facet_field, display_facet)
-%>
<ul class="facet-values list-unstyled">
  <%= render_facet_limit_list(paginator, facet_field.key) %>
  <%- unless paginator.last_page? || (params[:action] == 'facet') -%>
    <%- name  = facet_field.label -%>
    <%- t_opt = { scope: 'blacklight.search.facets', default: :more_html } -%>
    <%- label = t("more_#{name}_html", t_opt) -%>
    <%- path  = search_facet_path(id: facet_field.key) -%>
    <li class="more_facets">
      <%= link_to(label, path, data: { blacklight_modal: 'trigger' }) %>
    </li>
  <%- end -%>
</ul>
