<%# app/views/catalog/_index_header_default.html.erb -%>
<%-
  # Main values for an item entry on the index in a search results page.

  doc = document ||= @document

  # Position of the document in search results.
  document_counter ||= -1
  counter = document_counter_with_offset(document_counter)

  # Main title container for do partial view.
  title_field = document_show_link_field(doc) # Field with the text of label.
  title_opt   = { counter: counter } #, show_subtitle: true }
  title       = link_to_document(doc, title_field, title_opt)

  # Format counter number that comes before the entry title.
  counter &&= t('blacklight.search.documents.counter', counter: counter)
  counter &&= content_tag(:span, counter, class: 'document-counter')

  # The caller may provide additional CSS classes via the :css_class option.
  css_class =
    css_classes(css_class ||= nil) { |classes|
      classes << 'index-document-functions col-sm-3 col-lg-2'
    }

  # Bookmark functions for items/docs; if present, the width of the entry is
  # reduced to make room for them.
  document_actions = render_index_doc_actions(doc, wrapping_class: css_class)
  width = document_actions.present? ? 'col-sm-9 col-lg-10' : 'col-md-12'

-%>
<div class="documentHeader row">
  <h3 class="index_title document-title-heading <%= width %>">
    <%= counter %>
    <%= title %>
  </h3>
  <%= document_actions %>
</div>
