<%# app/views/catalog/_previous_next_doc.html.erb -%>
<%-
  # Bootstrap pagination links.

  # Modify behavior if the original page was not a search listing.
  origin ||= session[:origin]
  total  ||= search_session['total']
  anchor ||= nil

  from_lens = Blacklight::Lens.valid_key?(origin)
  from_lens ||= (origin == :root) # TODO: For now...

  page_links =
    if from_lens && total.to_i.nonzero?
      prev_doc ||= @search_context[:prev]
      next_doc ||= @search_context[:next]
      [
        link_to_previous_document(prev_doc),
        item_page_entry_info,
        link_to_next_document(next_doc)
      ].join(' | ').html_safe
    end

  start_over_link =
    unless origin == :bookmarks
      label = t('blacklight.search.start_over')
      path  = start_over_path
      opt   = { class: 'catalog_startOverLink btn btn-primary' }
      link_to(label, path, opt)
    end

  back_opt = { origin: origin, class: 'btn btn-outline-secondary' }
  back_opt[:anchor] = anchor if anchor.present?
  back_link = link_back_to_catalog(back_opt)
-%>

<div class='pagination-search-widgets'>
  <div class="page-links">
    <%= page_links %>
  </div>
  <div class="clearfix constraints-container">
    <%= start_over_link %>
    <%= back_link %>
  </div>
</div>
