<%# app/views/catalog/_previous_next_doc.html.erb -%>
<%-
  # Bootstrap pagination links.

  # Modify behavior if the original page was not a search listing.
  origin ||= session[:origin]&.to_sym
  total  ||= search_session['total']

  from_lens = Blacklight::Lens.valid_key?(origin)
  from_lens ||= (origin == :root) # TODO: For now...

  page_links =
    if from_lens && total.to_i.nonzero?
      prev_doc ||= @search_context[:prev]
      next_doc ||= @search_context[:next]
      [
        link_to_previous_document(prev_doc),
        item_page_entry_info,
        link_to_next_document(next_doc)
      ].join(' | ').html_safe
    end

  start_over_label ||= t('blacklight.search.start_over')
  start_over_opt   ||= { class: 'catalog_startOverLink btn btn-primary' }
-%>

<div class='pagination-search-widgets'>
  <div class="page_links">
    <%= page_links %>
  </div>
  <div class="clearfix constraints-container">
    <%= link_to start_over_label, start_over_path, start_over_opt %>
    <%= link_back_to_catalog(class: 'btn btn-outline-secondary') %>
  </div>
</div>
