<%# app/views/catalog/_previous_next_doc.html.erb -%>
<%-
  # Bootstrap pagination links.

  # Get or infer the document ID to return to the proper anchor in results.
  doc_id ||= document_id

  # Modify behavior if the original page was not a search listing.
  origin ||= session[:origin]&.to_sym
  total  ||= search_session['total']
  search ||= current_search_session

  from_lens = Blacklight::Lens.valid_key?(origin)
  from_lens ||= (origin == :root) # TODO: For now...

  page_links =
    if from_lens && total.to_i.nonzero?
      prev_doc ||= @previous_document
      next_doc ||= @next_document
      [
        link_to_previous_document(prev_doc),
        item_page_entry_info,
        link_to_next_document(next_doc)
      ].join(' | ').html_safe
    end

  link_opt = { class: 'btn' }
  link_opt[:origin] = origin if origin.present?
  link_opt[:anchor] = doc_id if doc_id.present?
  link_back = link_back_to_catalog(link_opt)

  start_over =
    if search
      start_over_label ||= t('blacklight.search.start_over')
      start_over_path  ||= start_over_path(search.query_params)
      start_over_opt   ||= { id: 'startOverLink', class: 'btn' }
      link_to(start_over_label, start_over_path, start_over_opt)
    end
-%>
<div id='previousNextDocument' class='pagination-search-widgets'>
  <div class="page_links">
    <%= page_links %>
  </div>
  <div class="pull-right search-widgets">
    <%= link_back %>
    <%= start_over %>
  </div>
</div>
