<%# app/views/catalog/_search_header.html.erb -%>
<%-
  # Common elements at the top of search results.

  print_view ||= (params[:view] == 'print')
  heading =
    if print_view
      lens ||= current_lens_key.to_s.capitalize.presence
      if lens
        t('blacklight.search.title', application_name: lens)
      else
        t('blacklight.search.search_results')
      end
    end
-%>
<%- if print_view -%>
  <h1><%= heading %></h1>
<%- else -%>
  <%= render 'did_you_mean' %>
  <%= render 'constraints' %>
  <%= render 'sort_and_per_page' %>
<%- end -%>
