<%# app/views/catalog/_sort_widget.html.erb -%>
<%-
  # Search result sort selection.

  return unless show_sort_and_per_page?

  # The caller may provide additional CSS classes via the :css_class option.
  css_class =
    css_classes(css_class ||= nil) { |classes|
      classes << 'btn btn-default dropdown-toggle'
    }

  selected = current_sort_field&.key
  selected &&= sort_field_label(selected)
  button_label = t('blacklight.search.sort.label', field: selected)

  menu_entries =
    active_sort_fields.map { |key, field_def|
      label = sort_field_label(key)
      path  = url_for(search_state.params_for_search(sort: key))
      opt   = {}
      if !has_query? && (field_def.key == relevance_sort_key)
        opt[:class] = 'disabled'
        opt[:title] = t('blacklight.search.sort.disabled_note')
      end
      content_tag(:li, link_to(label, path), opt)
    }.join("\n").html_safe

-%>
<div id="sort-dropdown" class="btn-group">
  <button type="button" class="<%= css_class -%>" data-toggle="dropdown">
    <%= button_label %>&nbsp;<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <%= menu_entries %>
  </ul>
</div>
