<%# app/views/catalog/_thumbnail_default.html.erb -%>
<%-
  # Insert the thumbnail for the item if available.

  doc = document ||= @document
  return unless doc

  # The caller may provide additional CSS classes via the :css_class option.
  css_class =
    css_classes(css_class ||= nil) { |classes|
      classes << 'document-thumbnail'
    }

  document_counter ||= -1
  counter = document_counter_with_offset(document_counter)

-%>
<div class="<%= css_class -%>">
  <%= render_thumbnail_tag(doc, nil, counter: counter).presence %>
</div>
