<%# app/views/catalog/email.html.erb -%>
<%-
  # Email form modal dialog.
  title ||= t('blacklight.email.form.title', default: 'Email')
-%>
<div data-blacklight-modal="container">
  <div class="email-modal">
    <div class="modal-header">
      <h1 class="modal-title"><%= title -%></h1>
      <%= modal_close %>
    </div>
    <%= render 'email_form' %>
  </div>
</div>
