<%# app/views/availability/_status.html.erb -%>
<%-
  # Render summary status for a single document in HTML.
  #
  # If *pending* is *true* then the status element will be a placeholder that
  # will be replaced asynchronously by the client.

  doc = document ||= @document
  index      ||= 0
  show_count ||= false # TODO: ???
  pending    ||= false

  doc_id = doc&.id || "unknown_#{index}"

  id   = "availability_#{doc_id}"
  css  = 'availability-status'
  css += ' complete' unless pending

  template_opts = { document: doc, show_count: show_count, pending: pending }

-%>
<div id="<%= id -%>" class="<%= css -%>" data-turbolinks-permanent>
  <%- if pending -%>
    <%= loading_placeholder %>
  <%- else -%>
    <%= render 'availability/status_complete', template_opts %>
  <%- end -%>
</div>
