<%# app/views/root/_home_text.html.erb -%>
<%-
  # Content for the application main page.
  # For the time being, this is incorporated into catalog/_home.html.erb.

  links = {
    'About pages'                     => about_index_path,
    'Log file viewer (must login)'    => about_log_path,
    'Catalog search "home" page'      => catalog_home_path,
    'Catalog advanced search'         => catalog_advanced_search_path,
    'Articles search "home" page'     => articles_home_path,
    'Articles advanced search'        => articles_advanced_search_path,
    'Video search "home" page'        => video_home_path,
    'Video advanced search'           => video_advanced_search_path,
    'Music search "home" page'        => music_home_path,
    'Music advanced search'           => music_advanced_search_path,
    'User-selected bookmarked items'  => bookmarks_path,
    'User-selected saved searches'    => saved_searches_path,
    'Searches for current session'    => blacklight.search_history_path,
  }.map { |td, th|
    content_tag(:tr) do
      content_tag(:th, link_to(h(th), th)) + content_tag(:td, h(td))
    end
  }.join("\n").html_safe

-%>

<div class="jumbotron text-center">
  <h1 class="jumbotron-heading"><%= t('blacklight.welcome') -%></h1>
  <p class="lead">
    Now with Blacklight 7
  </p>
</div>

<div class="card mb-3">
  <div class="card-body">
    This is a demonstration of Blacklight 7 with "Blacklight Lens"
    modifications &ndash; supporting retrieval from multiple index search
    providers (Solr for Catalog search; EBSCO Discovery Service [EDS] for
    Articles search) and tailored configurations to provide context-driven
    search experiences (e.g. Video and Music variations on Catalog search).
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3 class="card-title">Routes include:</h3>
    <table style="width: 100%">
      <thead>
        <tr>
          <th style="width: 25%">Link</th>
          <th>Description</th>
        </tr>
      </thead>
      <%= links %>
    </table>
  </div>
</div>

<%# This is the same panel shown in the Rails welcome template -%>
<div id="about" class="card">
  <h3 class='card-header collapsed collapse-toggle' data-target="#about-env"
      data-toggle="collapse">
    <a href="/rails/info/properties">About your application&rsquo;s environment</a>
  </h3>
  <div id="about-env" class="card-body collapse"></div>
</div>

<script>
    Blacklight.onLoad(function() {
        $('#about .card-header').one('click', function() {
            var $this    = $(this);
            var selector = $this.data('target');
            var $target  = $(selector);
            var path     = $this.find('a').attr('href');
            $target.load(path);
        });
    });
</script>
