<%# app/views/account/index.html.erb -%>
<%-
  # My Account page.

  title ||= t('blacklight.account.title')

  # Page name for browser history and browser tabs.
  content_for(:page_title) {
    t('blacklight.account.page_title', default: title) # TODO: I18n
  }

-%>
<div id="content">

  <h2 class='page-heading'><%= title %></h2>

  TODO...
  current_user = <%= current_user.pretty_inspect -%>
  self = <%= self.pretty_inspect -%>

</div>
