<%# app/views/account/index.html.erb -%>
<%-
  # My Account page.

  title ||= t('blacklight.account.title')

  # Page name for browser history and browser tabs.
  content_for(:page_title) {
    t('blacklight.account.page_title', default: title) # TODO: I18n
  }

-%>
<div id="content">

  <h2 class='page-heading'><%= title %></h2>

  <br/><p>TODO...</p>

  <p><strong>IP address</strong> = <%= get_current_ip %></p>
  <p><strong>current_user</strong> = <%= current_user.pretty_inspect %></p>
  <p><strong>self</strong> = <%= self.pretty_inspect %></p>

</div>
