<%# app/views/account/signed_out.html.erb -%>
<%-
  # Sign-out landing page.

  title ||= t('blacklight.account.signed_out')

  # Page name for browser history and browser tabs.
  content_for(:page_title, title)

-%>
<h1><%= title %></h1>
<p>
  You have signed out; you may turn in your <a href="#">NetBadge</a>.
</p>
