<%# app/views/about/list.html.erb -%>
<%-
  topic ||= @topic
  items ||= @topic_list

  title, description, heading_row, rows = topic_components(topic, items)

  page_title ||= t("blacklight.about.#{topic}.page_title", default: title)

-%>
<%= render 'about/common/page', page_title: page_title %>

<h1 class="about-title"><%= title %></h1>
<div class="about-description"><%= description %></div>

<%= render 'about/list/table', heading: heading_row, rows: rows %>
