// app/assets/stylesheets/manifest.scss

//=============================================================================
// Bootstrap and local defaults
//=============================================================================

@import 'bootstrap-sprockets'; // NOTE: Transitional for Blacklight 7
@import 'bootstrap';
@import 'shared/variables';

//=============================================================================
// Blacklight styles
//=============================================================================

@import 'blacklight';

//=============================================================================
// Local definitions
//=============================================================================

@import 'shared/mixins';

//=============================================================================
// General styles
//=============================================================================

@import 'shared/common';
@import 'shared/header';
@import 'shared/footer';
@import 'shared/lens';
@import 'shared/modal';

//=============================================================================
// Feature styles
//=============================================================================

@import 'feature/*';

//=============================================================================
// Action styles (defaults for all controllers)
//=============================================================================

@import 'shared/index';
@import 'shared/show';

//=============================================================================
// Controller-specific styles
//=============================================================================

@import 'controller/about';
@import 'controller/catalog';
@import 'controller/articles';
@import 'controller/bookmarks';
@import 'controller/saved_searches';
@import 'controller/search_history';
@import 'controller/advanced_search';

//=============================================================================
// Local overrides
//=============================================================================

@import 'shared/print';
@import 'shared/debug';
@import 'shared/pre-release'; // TODO: remove when Virgo 3 is gone
