// app/assets/stylesheets/print.scss

@import 'manifest';

//=============================================================================
// Adjustments for monochrome print view to better support non-color printers.
//=============================================================================

// Black-and-white color scheme in general.
* {
    color:      black !important;
    background: white !important;
}

// Make Find@UVa logo and other images grayscale.
img {
    display: block;
    filter:  grayscale(100%) !important;
}

//=============================================================================
// Re-supply a background for elements that need it.
//=============================================================================

.lens-type,
.blacklight-format_a,
.blacklight-eds_publication_type {
    .label {
        background-color: #dddddd !important;
    }
}

//=============================================================================
// Hide controls and extraneous information.
//=============================================================================

#header-navbar,
#search-navbar,
#sortAndPerPage,
#sidebar,
.page-header,
.bookmarksTools,
.flash_messages,
.pagination,
.catalog_startOverLink,
.pagination-search-widgets,
.constraint .remove,
.index-document-functions,
.show-tools {
    display: none;
}

body.blacklight-saved_searches,
body.blacklight-search_history {
    #content a.btn,
    #content form {
        display: none;
    }
}
