// app/assets/stylesheets/feature/_history.scss

//=============================================================================
// Search History table
//=============================================================================

.search-history {

    .lens-type {

        // Give the lens labels a consistent width.
        .label {
            display:   inline-block;
            width:     90%;
            min-width: fit-content;
            max-width: 100%;
        }
    }

    .filter-name,
    .filter-separator {
        color: $body-color !important;
    }

    // Align action buttons under the "Clear" button.
    .actions {
        text-align: right;
    }
}
