// app/assets/stylesheets/feature/_marc.scss

//=============================================================================
// Librarian view modal dialog (@see app/views/catalog/librarian_view.html.erb)
//=============================================================================

.marc-modal, #marc_view {

    $control-color: green;
    $data-color:    black;

    .field {
        display:      flex;
        border-color: $gray-400;
    }

    .leader {
        color: $control-color;
    }

    .tag_ind {

        $tag-gap-unit: 0.5rem;

        flex:   0 0 5.5rem;
        float:  none;
        cursor: default;

        .tag {
            margin:  0 $tag-gap-unit 0 0;
            padding: 0;
            color:   $control-color;
        }

        .ind1,
        .ind2 {
            margin:  0 $tag-gap-unit;
            padding: 0;
            color:   $control-color;
        }
    }

    .control_field_values {
        flex:   1 1 auto;
        color:  $data-color;
    }

    .subfields {

        $sf-indent:   1.25rem;
        $sf-gap-unit: 0.0625rem;

        flex:        1 1 auto;
        padding:     0;
        margin-left: $sf-indent;
        text-indent: -$sf-indent;

        .subfield {
            margin-right: 4 * $sf-gap-unit;
            text-indent:  0;
        }

        .sub_code {
            margin-right: 2 * $sf-gap-unit;
            color:        $control-color;
            font-weight:  bold;
            cursor:       default;
        }

        .sub_separator {

            color:        $control-color;
            cursor:       default;

            &:after { content: " "; }
        }

        .sub_value {
            margin-left:  -(3 * $sf-gap-unit);
            color:        $data-color;
            //&:after { white-space: pre; } // For one subfield per line
        }
    }

    &.monospace {

        font-family: monospace;
        font-size:   12pt;

        .subfields {

            $sf-indent: 1rem;

            margin-left: $sf-indent;
            text-indent: -$sf-indent;

            .subfield,
            .sub_code,
            .sub_value {
                margin-left:  0;
                margin-right: 0;
            }
            .sub_separator {
                &:after { content: none; }
            }

            @media not print {
                .url {

                    color:      $link-color;
                    word-break: break-all;

                    &:focus,
                    &:hover {
                        color: $link-hover-color;
                    }
                }
            }
        }
    }
}
